section{
	width: 100%;
	min-height: 100%;
	background: url(../img-champion/bg.jpg)no-repeat center bottom;
	background-size: cover;
	position: relative;
}
[v-cloak]{
    display: none;
}
.title{margin-top: 3%;width:100%;}

.list{margin-top: 3%;padding:3%;}
.list li{display: inline-block;width: 50%;position: relative;margin-bottom: .8rem;}
.list li:nth-child(7){margin-left: -1.2%;}
.team-logo{width: 100%;}
.icon-result{width: 12%;position: absolute;right: 8%;bottom: 8%;}
.list li div{position: absolute;width: 100%;bottom: 15%;left: 0;text-align: center;color: #c4c4c4;}
.list li div p{font-size: 1.1rem;text-decoration: underline;}

