html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.region {
	height: 100%;
}

body {
	background: #141b4e no-repeat;
	background-size: 100%;
}

.region header {
	margin-top: 3%;
}

header .time {
	color: #fbe06f;
	border-bottom: 1px #6b6f56 solid;
	border-top: 1px #6b6f56 solid;
	position: absolute;
	bottom: 10%;
	right: 5%;
	font-size: 1.4rem;
	
}

main .text-danger {
	color: #fbe06f;
}

main .btn {
	margin-top: 13%;
	margin-bottom: 3%;
}

.btn-primary {
	margin-bottom: 5%;
	font-stretch: expanded;
	font-weight: bold;
	color: #684002;
	background-color: #f5b629;
	border-color: #f5b629;
}

footer p {
	font-size: 2rem;
	font-weight: bold;
}

.mooncoke {
	padding-right: 0;
	width: 18%;
}

.mooncoke img,
.region img {
	width: 100%;
}

.list-unstyled li {
	border: 1px #957132 solid;
	padding: 12px 0;
	margin-bottom: 3%;
	background: #352c3f;
	color: #fff;
}

.provincial {
	margin-left: 2%;
}

.region .listKing {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.region .photo {
	margin-left: 5%;
	width: 30px;
	border: 1px solid white;
	border-radius: 50%;
	overflow: hidden;
	height: 30px;
}

.col-xs-2ths {
	width: 20%;
	float: left;
}

.col-xs-3ths {
	width: 30%;
	float: left;
}

.region .listKing .bdLeft img {
	width: 100%;
	border-radius: 50%;
	background: #0099FF;
}

.region .headPhoto {
	padding-left: 6%;
	width: 32%;
}

.region .id,
.monnKing {
	margin-top: 1%;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.region .bdRight {
	padding-left: 0;
}

.region .bdRight div {
	padding: 0;
}

.region .rtPhoto {
	margin-right: 10%;
	width: 21%;
	margin-left: 17%;
}

.chunk {
	margin-top: 3%;
}

.list-unstyled {
	margin-bottom: 7%;
	margin-top: 7%;
	font-size: 2rem;
}

main .list-unstyled {
	background: #202656;
	font-size: 1.6rem;
	margin: 0;
}

main .mooncoke {
	margin-left: 2%;
	width: 9%;
	margin-top: 1%;
}

main .list-unstyled li {
	margin-bottom: 0;
	padding: 6% 0;
	background: #202656;
	border: 0 #353b6b solid;
	border-bottom: 1px #353b6b solid;
}

main {
	background: #202656;
	border: 1px solid #353b6b;
	height: 80%;
}

main .row>* {
	font-size: 1.5rem;
	padding: 0;
}

main .knife {
	margin-left: 2%;
	margin-top: 1%;
	text-align: center;
}

main .moonKing {
	margin-top: 1%;
	width: 13%;
}

.marginLf {
	margin-top: 1%;
	width: 9%;
	margin-left: 19%;
}

.qie {
	margin-left: 5%;
	padding: 0;
}
.display{margin-top: 1%;width: 13% !important; opacity: 0;}