*{margin:0;padding: 0;}
html,body{
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
}
body{
	max-width: 640px;
	margin:0 auto;
	background-color: #f6f6f6;
}
section{
	width: 100%;
	height: 100%;
}
.tit{
	width: 97%;
	max-width: 640px;
	font-size: 1.2rem;
	color: #000;
	padding: 1rem 0 1rem 3%;
	position: fixed;
	top: 0;
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 99;
	background-color: #f6f6f6;
}
.icon_choose{
	position: absolute;
    width: 4rem;
    right: 3%;
    top: 1.3rem;
}
.groupList{
	position: absolute;
	width: 5rem;
	background: url(../img/smbg.png)no-repeat center top;
	background-size: 100% 100%;
	padding: 0 1rem;
	right: 3%;
	top: 3rem;
	z-index: 99;
	display: none;
}
.groupList li{
	color: #fff;
	font-size: 1.3rem;
	padding: 0.8rem 0;
	border-bottom: 1px solid #666666;
	text-align: center;
}
.groupList li:first-child{
	padding-top: 1.5rem;
}

.listsbox{
	padding: 0 3%;
	margin-top: 4rem;
}
.teamList li{
	margin-bottom: 3%;
}

.arrow{
	width: 2rem;
	position: absolute;
	right: 3%;
	top: 50%;
	transform: translateY(-50%) rotate(0deg);
	-webkit-transform: translateY(-50%) rotate(0deg);
}

.rotate{
	transform: translateY(-50%) rotate(180deg);
	-webkit-transform: translateY(-50%) rotate(180deg);
}

.teamtit{
	font-size: 1.2rem;
	height: 3.5rem;
	line-height: 3.5rem;
	background-color: #fff;
	padding-left: 3%;
	position: relative;
}
.cbar{
	width: 0.3rem;
	height: 3rem;
	position: absolute;
	top:0.5rem;
	left: 0%;
}

.merList{
	/* text-align: center; */
	padding-bottom: 1.5rem;
	background-color: #fff;
	display: none;
}
.merList li{
	display: inline-block;
	width:32%;
	text-align: center;
}
.avatar{
	display: inline-block;
	width: 80%;
	padding-top: 80%;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	/* margin:1.5rem 0 1rem 15%; */
}
.mer_name{
	font-size: 1rem;
	margin-bottom: 0.7rem;
}
.mer_name em{
	display: inline-block;
	font-size: 1rem;
	color: #fff;
	/* background-color: #86d4f5; */
	padding: 0 0.3rem;
	border-radius: 3px;
	margin-left: 0.2rem;
}

