<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>投稿</title>
	<link href="../../common/css/common.css" rel="stylesheet" />
	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/membertg.css" rel="stylesheet" />
</head>
<body>

	<section id="wrapper" v-cloak>
		
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="member-info">
					<div class="photo">
						<img v-bind:src="curMember.avatar">
					</div>
					<span>{{curMember.memberName}}的投稿</span>
					<span class="like-box">{{curMember.count}}<img src="img/icon-tg.png"></span>
				</div>
				<img v-if="listA.length == 0" class="empty" src="img/empty.png">
				<ul class="mui-table-view mui-table-view-chevron tg-list">
					<li v-for='item in listA'  v-on:click="gototginfo(item.materialType,item.materialId)">
						<div class="tg-top">
							<img v-bind:src="item.avatar">
							<span>{{item.nicker}}</span>
							<span class="ctime">{{item.ctime}}</span>
						</div>
						<div class="tg-bottom">
							<div class="cover"><img v-bind:src="item.previewPath"></div>
							
							<div class="cover-right">
								<p>{{item.title}}</p>
								<div class="like-num">
									<span><img src="img/icon-like.png">{{item.hot}}</span>
									<span><img src="img/icon-comment.png">{{item.comments}}</span>
								</div>
								<span class="tg-m-name">{{item.tag[0].name}}</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<img class="icon-gotomsg" v-on:click="gotoguide()" src="img/icon-gototg.png">
		</div>
		
	</section>

</body>
<script src="../../common/js/jquery.min.js"></script>
<script src="../../common/js/common.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="js/mui.min.js"></script>
<script src="js/mui.pullToRefresh.js" ></script>
<script src="js/mui.pullToRefresh.material.js" ></script>
<script src="js/config.js"></script>
<script src="js/main.js"></script>
<script src="js/membertg.js"></script>
</html>