<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>粉丝应援挑战计划</title>
	<link href="../../common/css/common.css" rel="stylesheet" />
	<link href="css/votemusic.css" rel="stylesheet" />
</head>
<body>
	<section class="wrapper" v-cloak>
		<img v-if="status == true" src="img-music/title.png" class="slogan">
		<ul class="music">
			<li v-for="(item,index) in mainData.aidGorups">
				<img class="team-logo" v-bind:src="item.groupId|img">
				<div>
					<p class="title">{{item.title}}</p>
					<p>当前得票 {{item.voteNum}}</p>
					<p v-on:click="playVideo(item.groupId)"><img src="img-music/icon-video.png"><span>查看打CALL应援教学视频</span></p>
				</div>
				<img v-if="team==item.groupId" class="choose" src="img/icon-yes.png">
				<img v-if="team!=item.groupId && status != false" class="choose"  v-on:click="chooseTeam(index)" src="img-music/icon-default.png">
				<img v-if="status == false && champion==item.groupId" class="prize" src="img-music/prize.png">
			</li>
			<!-- <li v-on:click="chooseTeam('BEJ')">
				<img class="team-logo" src="img-music/team-bej.png">
				<div>
					<p>BEJ48《元气觉醒》</p>
					<p>当前得票 {{mainData.aidGorups[1].voteNum}}</p>
				</div>
				<img v-if="team=='BEJ'" class="choose" src="img/icon-yes.png">
				<img v-if="champion==2" class="prize" src="img-music/prize.png">
			</li>
			<li v-on:click="chooseTeam('GNZ')">
				<img class="team-logo" src="img-music/team-gnz.png">
				<div>
					<p>GNZ48《抱紧处理》</p>
					<p>当前得票 {{mainData.aidGorups[2].voteNum}}</p>
				</div>
				<img v-if="team=='GNZ'" class="choose" src="img/icon-yes.png">
				<img v-if="champion==3" class="prize" src="img-music/prize.png">
			</li> -->
		</ul>
		
		<img src="img-music/timeout.png" v-if="status==false">
		<div class="time-box" v-if="status==true">
			<img src="img-music/subtitle.png">
			<span>{{endtime}}</span>
		</div>
		<div class="btns" v-if="status==true">
			<div v-on:click="gotoPay(2)">
				<img src="img-music/btn-jf.png">
				<p>使用50积分参加竞猜<br><span>我的积分：{{money_jf}}</span></p>
			</div>
			<div v-on:click="gotoPay(1)">
				<img src="img-music/btn-jt.png">
				<p>使用50鸡腿参加竞猜<br><span>我的鸡腿：{{money_jt}}</span></p>
			</div>
		</div>
		<!-- 弹窗 -->
		<div class="mask" v-if="showpop != 0">
			<div class="msg" v-if="showpop == 1">
				<p>{{tips}}</p>
				<span v-on:click="closePop()">知道了</span>
			</div>
			<div class="submit-box" v-if="showpop == 2">
				<p>是否使用50{{paytype | money}}参加竞猜？<br><br><span>提交后无法更改选择</span></p>
				<span v-on:click="closePop()">返回修改</span>
				<span v-on:click="submit()">确定</span>
			</div>
			<div class="no-money" v-if="showpop == 3">
				<p>{{paytype | money}}不足</p>
				<span v-on:click="recharge()">去充值</span>
				<span v-on:click="closePop()">知道了</span>
			</div>
		</div>
	</section>

</body>
<script src="../../common/js/jquery.min.js"></script>
<script src="../../common/js/dsbridge.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="../../common/js/common_v1.js"></script>
<script src="js/config.js"></script>
<script src="js/main.js"></script>
<script src="js/votemusic.js"></script>
</html>