/*评论区域*/
.comment_box{
	padding: 3%;
	background-color: #1d0303;
}
/* 点评输入框 */
.text_box{
	width: 100%;
	height: 60px;
	margin-bottom:8%;
}
.textarea{
	resize: none;
	width: 76%;
	height: 40px;
	background-color: #271111;
	border:none;
	padding:10px 2%;
	line-height:20px;
	margin-right: 2%;
	color:#fff;
	outline: none;
}
.text_box button{
	width: 16%;
	height: 60px;
	border:none;
	float: right;
	background-color: #d49e57!important;
	color:#fff;
}

/*评论列表*/
.commentList,.goodList{
	color:#fff;
	font-size: 12px;
}
.commentList li,.goodList li{
	padding: 5% 2%;
	border-bottom:1px solid #594133;
	position: relative;
}
.avata{
	display:block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	float: left;
}
.commentList .content,.goodList .content{
	padding-left: 50px;
}

.name{
	color:#fff;
}
.time{
	margin-top: 3px;
	color:#c4c4c4;
}
.time span{
	margin-left: 10px;
}
.texts{
	margin-top: 5px;
	color:#fff;
}
.icon_self{
	width: 8px;
	vertical-align: baseline;
	margin-left: 5px;
}
.zanbtn,.chikenbtn{
	position: absolute;
	right: 2%;
	top: 22%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.zanbtn img,.chikenbtn img{
	width: 14px;
	vertical-align: middle;
	margin-right:3px;
}
.chikenbtn{
	top:9%!important;
}
.zanbtn .like-heart{
	display: none;
}
.zannum{
	vertical-align: middle;
	color:#c4c4c4;
}
.commentList li:last-child{
	border-bottom:none!important;
}
.color11{
	color:#EFD073!important;
}
.color12{
	color:#A89B79!important;
}
.color13{
	color:#FBDF9E!important;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.like-box .zanimg,.like-box .zannum{
	display: none;
}
.like-box .like-heart{
	display: block;
}
.like-box .like-heart{
	top: 30% !important;
}


.goodList{
	margin-top:10%;
}
.goodList li{
	background-color: #422a1d;
}
.listsm_bg{
	position: absolute;
	right: 0%;
	top: 0%;
	width: 20%;
}
.goodList .content{
	position: relative;
	z-index: 1;
}
.goodList .content .name{
	color:#f7d16c;
}
