*{margin:0;padding: 0;}
html{background-color: #1d0303;}
html,body{
	width: 100%;
	height: 100%;
}
body{
	max-width: 640px;
	margin:0 auto;
	font-size: 14px;
	background-color: #1d0303;
	position: relative;
}
ol,ul,li{
	list-style: none;
}
em{
	font-style: normal;
}
b{
	font-weight: normal;
}

/* bannner部分 */
.nav{
	width: 100%;
}
.banner{
	width: 100%;
}
.logo_sm{
    position: absolute;
    width: 12%;
    right: 2%;
    top: 0%;
}
.title{
    position: absolute;
    width: 44%;
    left: 28%;
    top: 3%;
}

/* tabs切换按钮部分 */
.tabs{
	width: 100%;
	text-align: center;
	margin-top: -65%;
	padding-bottom: 2%;
}
.tabs li{
	display: inline-block;
	width: 22%;
	margin:0 0.5%;
}
.tabs li img{
	width: 100%;
}

/* 分割线 */
.line{
	display: block;
    width: 100%;
    padding-bottom: 3%;
}

/* 首页列表区域 */
.allLists{
	padding:0 3%;
	position: relative;
}
.listbox1{

}
.listbox2,.listbox3{
	display: none;
}

/*首页视频列表*/
.vedio_box{
	
}
.vidbox{
	position: relative;
	padding-bottom: 15px;
}
.video{
	width: 100%;
	height: 0;
	position: relative; 
	padding-bottom:56.25%; 
	background: #000000;
}
.video video{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.qu,.no_qu{
	width: 100%;
	height:0;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	padding-bottom:56.25%;
	background-size: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.play{
    width: 14%;
    position: absolute;
    left: 43%;
    top: 30%;
}
.sing{
	width: 96%;
	padding: 2%;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 12px;
	color:#8f90a4;
}
.sing img{
	width: 14px;
	vertical-align: baseline;
	margin-right: 5px;
}
.sing a{
	color:#e18249;
	float: right;
	text-decoration: none;
}
.musicName{
	font-size: 14px!important;
	color:#000;
	margin-bottom:5px;
}
.musicMer{
	margin-bottom: 5px;
}
.sing .span1{
	margin-right:15px;
}

/* 首页图片列表 */
.pic_box{
	width: 100%;
}
.pic_box ul{
	padding: 2%;
}
.pic_box li{
	width: 100%;
	margin-bottom:5%;
}
.pic{
	width: 100%;
	border:1px dashed #ffe0b0;
	border-radius: 5px;
	overflow:hidden;
}
.pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pic_title{
	color:#d1c0a5;
	margin-top:7px;
}

/* 首页歌曲列表 */
.musicList{
	padding:0 1%;
	background-color: #471c1c;
}
.musicList li{
	height: 50px;
	border-bottom: 1px dashed #b5a4a4;
	line-height: 50px;
	/* background-color: #343547; */
}
.con_left{
	float: left;
	width: 53%;
}
.con_left span{
	display: block;
	/*border:1px solid red;*/
	float: left;
}
.ordinal{
	color:#fae4c1;
	width: 22px;
	text-align: center;
	font-size: 14px;
}
.songName{
	color:#fae4c1;
    height:50px;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;/* 超出内容显示为省略号*/
	white-space: nowrap;
}
.icon_play{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
.the1{
	background: url(../img/gold.png) no-repeat center center;
	background-size: contain;
	color:#b27330;
}
.the2{
	background: url(../img/silver.png) no-repeat center center;
	background-size: contain;
	color:#6f7089;
}
.the3{
	background: url(../img/copper.png) no-repeat center center;
	background-size: contain;
	color:#8a5d5a;
}
.con_right{
	color:#fae4c1;
	font-size: 12px;
	float: right;
	width: 135px;
}
.con_right span{
	display: inline-block;
}
.con_right>.span1{
	margin-right: 5px;
	width: 65px;
}
.con_right img{
	width: 18px;
	vertical-align: middle;
	margin-right: 5px;
}
.musicList li:last-child{
	border-bottom: none!important;
}

/* 分享按钮 */
.sharebox{
	width: 100%;
	padding: 5% 0 7% 0;
}
.sharebox img{
	display: block;
	width: 20%;
	margin-left:40%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*活动规则弹出页*/
.ruleMask{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.6);
	display: none;
}
.rulebox{
	width: 66%;
	padding:10% 5%;
	margin-left: 12%;
	margin-top:25%;
	font-size: 12px;
	color:#fff;
	line-height: 22px;
	position: relative;
	border-radius:5px;
	background:url(../img/bg_sm.png)no-repeat center top #581717;
	background-size: contain;
}
.rulebox p b{
	font-weight: normal;
	color:#ffdb96;
}

.closebtn{
	position: absolute;
    width: 12%;
    left: 44%;
    bottom: -15%;
}







/*input textarea（placeholder的颜色） */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #7e756d;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7e756d;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7e756d;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #7e756d;
}