@charset "utf-8";
/*reset */
html,body,div,p,span,img,em,i,cite,pre,object,code,del,hr,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,frame,iframe,fieldset,form,table,caption,tbody,thead,tfoot,tr,td,th,label,legend{margin:0;padding:0; border:0; font:17px "Helvetica Neue",Helvetica,sans-serif;}
input,select,textarea{margin:0;padding:0;color:#666; font-family:"Helvetica Neue",Helvetica,sans-serif; font-size:17px}
ul,ul li,ol,ol li,dl,dl dd{ list-style:none;}
table,tr,td{ border-collapse:collapse;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word;white-space : normal ;}
a:hover{ color:#333}
select,img,input{ vertical-align:middle;}
/*ClearFix */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
*html .clearfix {height:1%;}
*+html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix {display:block;}
.clear{ clear:both; overflow:hidden;_zoom:1;}

a{color:#666; text-decoration:none}
a {bblr:expression(this.onFocus=this.blur()); outline:none;}

html,body { width: 100%; height: 100%; font-family: "微软雅黑";}

html{font-size:10px}
@media screen and (max-width:320px){html{font-size:7px}}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:13px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:18px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:25.5px}}
@media screen and (min-width:800px){html{font-size:25px}}


.imgbox{
	width: 100%;
	height:107px;
	overflow: hidden;
	text-align: center;
}
.imgbox img{
	/*width: 100%;*/
	height: inherit;
}
.play{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.play::before{
    content: '';
    position: absolute;
    width:107px;
    height: 73px;
    left: 50%;
    margin-left: -53.5px;
    top: 50%;
    margin-top: -36.5px;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    z-index: 10000;
}
html {
	-webkit-text-size-adjust: none;
	font-size: 30px
}

body {
	margin: 0 auto;
	max-width: 414px;
	line-height: 1.6em;
	color: #181615;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	text-align: justify;
	text-justify: inter-ideograph
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
	padding: 5px;
	height: 25px;
	width: 100%;
	background: #fff;
	border: none;
	font-size: 15px;
	border-radius: 5px;
	color: #333;
	box-sizing: border-box
}

::-webkit-input-placeholder {
	color: #888
}

body,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="submit"],
textarea,
select,
button {
	font-family: "Microsoft YaHei", "Hiragino Sans GB W3", "Heiti SC", Helvetica, sans-serif;
	font-size: 15px;
	outline: none;
	background: #fff;
}

img {
	vertical-align: top;
}

a,
a:active {
	color: #181615;
}

.c-g {
	color: #c4c4c4;
}

.c-r {
	color: #ff6826;
}

.c-8,
.info-ls-qs li p {
	color: #888;
}

.c-y {
	color: #808080;
}

.fs24 {
	font-size: 12px;
}

.fs13,
.top-attend-layer .btn-attend {
	font-size: 13px;
}

.fs12,
.top-attend-layer .item,
.bom-fun-area .inp {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.flexbox,
.user-box {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
}

.flexbox li,
.user-box li,
.flexbox .item,
.user-box .item {
	box-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
	-webkit-flex: 1;
}

.disb {
	display: block;
	
}
.vod-list .disb{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cut-txt,
.vod-list .bom q {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.bg-sp,
.user-box .add {
	background: url(../img/bg-ico.png) no-repeat;
	background-size: 210px 50px;
	
}
.pl-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.pl-page body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.vod-box {
	position: relative;
	width: 100%;
	background: #000;
	z-index: 1;
}

.vod-box img,
.vod-box video {
	width: 100%;
	background: #000
}

.vod-box .ico-live {
	position: absolute;
	top: 12px;
	left: 15px;
}

.vod-box-pl {
	position: relative !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	background: #000000;
}

.vod-box-pl img,
.vod-box-pl video {
	position: static;
	display: block !important;
	width: auto;
    height: 100%;
	overflow: hidden;
	z-index: 1;
}
.vod-box-pl video{
	position: absolute;
	z-index: 1;
	/*left:50%;
	top: 0;
	left: 0;*/
}
.vod-box-pl .ico-live {
	position: absolute;
	top: 12px;
	left: 15px;
}

.avatar {
	width: 43px;
	height:43px;
	margin: 0;
	background-position-x: 50%!important;
    background-size: contain!important;
    border-radius: 50%!important;
}

/*.avatar img {
	width:100%;
	height:100%;
	-webkit-border-radius: 99999em;
	-moz-border-radius: 99999em;
	-ms-border-radius: 99999em;
	-o-border-radius: 99999em;
	border-radius: 99999em
}*/

@media screen and (max-width: 414px) and (min-width: 376px) {
	.vod-box {
		height: 414px
	}
}

@media screen and (max-width: 375px) and (min-width: 321px) {
	.vod-box {
		height: 375px
	}
}

@media screen and (max-width: 320px) {
	.vod-box {
		height: 320px
	}
}

.commend-box {
	position: absolute;
	left: 7px;
	bottom: 20px;
	max-width: 90%;
	z-index: 3
}

.commend-box dl {
	float: left;
	margin-top: 8px;
	padding: 8px;
	background: rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	clear: both
}

.commend-box dl dt {
	float: left
}

.commend-box dl .avatar {
	margin: 5px 0 0 0;
	width: 30px;
	height: 30px
}

.commend-box dl .avatar img {
	width: 30px;
	height: 30px
}

.commend-box dl dd {
	padding-left: 38px;
	line-height: 20px
}

.commend-box dl dd h4 {
	font-size: 12px;
	color: #ff6826
}

.commend-box dl.dl-e {
	padding: 0 8px;
	background: #ff6826;
	opacity: .85
}

.commend-box dl.dl-e dt {
	background-position: -37px -8px;
	width: 33px;
	height: 33px
}

.commend-box dl.dl-e dd h4 {
	color: #fff;
	font-size: 15px;
	line-height: 33px
}

.bom-content-box {
	position: absolute;
	left: 10px;
	bottom: 103px;
	z-index: 3
}

.commend-box-e {
	position: static;
	max-width: 86%;
	min-width: 8em
}

.commend-box-e dl {
	margin-top: 6px;
	padding: 0;
	background: rgba(247, 247, 247, 0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	max-width: 100%
}

.commend-box-e dl .avatar {
	margin: 0;
	width: 37px;
	height: 40px;
	overflow: hidden
}

.commend-box-e dl .avatar img {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0
}

.commend-box-e dl dd {
	padding-left: 45px;
	padding-right: 28px;
	line-height: 16px;
	font-size: 12px;
	color: #181615
}

.commend-box-e dl dd h4 {
	display: inline-block;
	margin-top: 3px;
	margin-left: -1px;
	white-space: nowrap;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9)
}

.commend-box-e dl dd figure {
	display: block;
	width: 100%;
	max-width: 32em;
	
}

.commend-box-e dl.dl-e {
	padding: 0 8px;
	background: #ff6826;
	opacity: .85
}

.commend-box-e dl.dl-e dt {
	background-position: -37px -8px;
	width: 33px;
	height: 33px
}

.commend-box-e dl.dl-e dd h4 {
	color: #fff;
	font-size: 15px;
	line-height: 33px
}

.top-attend-layer {
	position: absolute;
	top: 19px;
    left: 19px;
	width: 106px;
	height: 43px;
	z-index: 2000;
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 25px;
}

.top-attend-layer .avatar {
	margin: 6.5px 0 0 8.5px;
	width: 30px;
	height: 30px;
	margin: 0;
}

.top-attend-layer .avatar a {
	width:43px;
	display: block;
	height:43px;
	border-radius: 50%;
	overflow: hidden;
	background-position-x: 50%!important;
    background-size: contain!important;
    border-radius: 50%!important;
}


.top-attend-layer .item {
    margin-left: 22px;
	line-height:43px;
	text-align: left;
	color: #fff;
	letter-spacing: nowrap;
}
.top-attend-layer .item dd {
	margin-left: -12px;
	color: #fff;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	-o-transform: scale(0.85);
	transform: scale(0.85);
	letter-spacing: -1px;
}

@media screen and (max-width: 320px) {
	.top-attend-layer {
		width: 220px
	}
}

.s-layout {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 8888
}

.lock-pop {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 270px;
	height: 343px;
	z-index: 9999;
	background: #fff;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px
}

.lock-pop img {
	width: 100%
}

.lock-pop p {
	margin-top: 12px;
	line-height: 1.3em
}

.lock-pop .btn-down {
	margin-top: 9px
}

.avatar-ls-wrap {
	left: 0;
	bottom: 48px;
	padding: 0 0 0 10px;
	width: 78%;
	height: 38px;
	overflow: hidden
}

.avatar-ls {
	width: 375px;
	height: 38px
}

.avatar-ls li {
	float: left;
	margin-right: 8px;
	width: 38px
}

.avatar-ls li img {
	width: 38px;
	height: 38px;
	-webkit-border-radius: 9999999999999em;
	-moz-border-radius: 9999999999999em;
	-ms-border-radius: 9999999999999em;
	-o-border-radius: 9999999999999em;
	border-radius: 9999999999999em
}

.fr-bk {
	display: block;
	margin-right: 0;
	right: 0;
	top: 0;
	height: 38px;
	width: 20px
}

.bom-fun-area {
	padding: 0 10px;
	bottom:12px;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	position: absolute;
	display: none;
}

.bom-fun-area .item {
	padding: 0 10px
}

.bom-fun-area .inp {
	display: block;
	padding: 0 9px;
	width: 100%;
	background: #fff;
	border-radius: 15px;
	border: none;
	height: 30px;
	line-height: 30px;
	color: #888;
	margin: 0 9px;
}

.bom-fun-area .inp::-webkit-input-placeholder {
	color: #888
}

.bom-fun-area [class^=ico] {
	display: block
}

@media screen and (max-width: 375px) and (min-width: 321px) {
	.commend-box-e {
		max-width: 77.5%
	}
}

@media screen and (max-width: 320px) {
	.commend-box-e {
		max-width: 65.5%
	}
}

[class^=ico] {
	display: inline-block;
	vertical-align: middle
}

.ico-x,
.ico-x-ac,
.ico-c,
.ico-s-1,
.ico-s-2,
.ico-s-3,
.ico-live {
	display: inline-block;
}

.ico-x,
.ico-x-ac {
	width: 17px;
	height: 17px;
}

.ico-x-ac {
	background-position: -30px 0;
}

.ico-x,
.ico-x-ac,
.ico-c {
	margin-right: 5px;
	vertical-align: middle
}

.ico-c {
	background-position: 100% 0;
	width: 16px;
	height: 17px
}

.ico-live,
.ico-live-e {
	background-position: -140px -32px;
	width: 40px;
	height: 18px
}

.ico-live-e {
	right: 16px;
	top: 20px
}

.ico-s-1 {
	background-position: 0 0;
	width: 23px;
	height: 24px
}

.ico-s-2 {
	background-position: -84px -2px;
	width: 28px;
	height: 22px
}

.ico-s-3 {
	background-position: -167px -1px;
	width: 29px;
	height: 23px
}

.ico-i,
.ico-sw,
.ico-praise,
.ico-pub,
.ico-gife,
.ico-lock {
	width: 30px;
	height: 30px;
	background: url(../img/bg-other.png) no-repeat;
	background-size: 112px 135px
}

.ico-i {
	top: 13px;
	right: 60px;
	background-position: -38px 0
}

.ico-sw {
	top: 13px;
	right: 15px;
	background-position: -82px 0
}

.ico-gife {
	background-position: -40px -104px
}

.ico-pub {
	background-position: 0 -104px
}

.ico-praise {
	width: 44px;
	height: 44px;
	background-position: -68px -52px
}

.bg-sp-new {
	background: url(../img/bg-ico-new.png) no-repeat;
	background-size: 239px 16px;
	background-position: 0 0;
}
.bg-sp-share{
	background: url(../img/bg-ico-new.png) no-repeat;
	background-size: 239px 16px;
	background-position: -55px 0;
}
.bg-sp-msg{
	background: url(../img/bg-ico-new.png) no-repeat;
	background-size: 239px 16px;
	background-position: -114px 0;
}
.bg-sp-love{
	background: url(../img/bg-ico-new.png) no-repeat;
	background-size: 239px 16px;
	background-position: -185px 0;	
}
@media screen and (max-width: 320px) {
	.ico-i {
		right: 50px
	}
	.ico-sw {
		right: 10px
	}
}

.praise-box {
	display: block;
	bottom: 51px;
	right: 10px;
	color: #fff;
	font-size: 11px;
	text-align: center;
	line-height: 20px;
	position: absolute;
}

.praise-box em {
	display: block
}

.btn-pl,
.btn-pl-lg {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 36px;
	height: 36px;
	margin: -18px 0 0 -18px;
	z-index: 3;
	background: url(../img/btn-play.png) no-repeat;
	background-size: 36px 36px
}

.btn-pl-lg {
	margin: -55px 0 0 -30px;
	width: 60px;
	height: 60px;
	z-index: 5;
	background: url(../img/btn-play-lg.png) no-repeat;
	background-size: 60px 60px
}

.user-box {
	padding: 10px 18px 15px 10px
}

.user-box .avatar {
	margin-right: 12px
}

.user-box .add {
	display: block;
	margin-top:12px;
	width: 50px;
    height: 24px;
    line-height: 24px;
    padding-left: 34px;
   	background-position: -73px -29px;
	border-radius: 16px;
	background-color: #86d4f5;
	font-size: 0.6em;
	color: #fff;
}
.top-attend-layer img{
	border-radius: 50%;
}
.user-box .l-c {
	line-height: 18px
}

.user-box .l-c .item a {
	position: relative;
    top: 2px;
    line-height: 30px;
}

.user-box .l-c .item span {
	line-height: 1em;
}

.opt-box {
	margin-top: 15px;
	padding-bottom: 15px;
	line-height: 17px;
	text-align: center;
}
.flexbox p{
	display: inline;
	font-size: 0.7em;
	padding-top: 5px;
}
.opt-box li{
	border-right: 1px solid #ddd;
}
.opt-box li:last-child{
	border-right:none;
}
.share-box {
	padding: 0 40px 12px;
	text-align: center;
}

.share-box .hd {
	line-height: 48px;
}

.share-box .bd .t-ico {
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	line-height: 46px;
	background: #3a92ff;
	border-radius: 99999em;
	text-align: center;
}

.share-box .bd .t-ico.t-ico-e {
	background: #ff6826;
}

.share-box .bd .t-ico.t-ico-e2 {
	background: #373737;
}

.share-box .bd span {
	line-height: 28px;
}

.tit {
	padding: 5px 0 5px 10px;
	line-height: 38px;
}

.vod-list {
	overflow: hidden;
	padding-right:7px;
	padding-bottom: 56px;
}

.vod-list li {
	float: left;
	width: 48%;
	padding: 0 0 3px 7px;
	box-sizing: border-box;
}
.vod-list li:nth-child(2n){
	float: right;
}
.vod-list li .in {
	position: relative;
}

.vod-list li .in img {
	/*width: 100%;*/
}

.vod-list li .avatar {
	display: block;
	padding: 0 10px 0 6px;
	width: 35px;
	height:35px;
	overflow: hidden;
}

.vod-list li .avatar img {
	width:100%
	height:100%;
	min-height: 0;
}


.vod-list .bom {
	z-index: 2;
	width: 100%;
	height: 52px;
	color: #fff;
	line-height: 30px;
	margin:10px 0;
}

.vod-list .bom:active {
	color: #fff;
}

.vod-list .bom q {
	width: 7em;
}

.btn-down {
	position: absolute;
    display: inline-block;
    background-color: #5c6bc2;
    border-radius: 5px;
    background-size: cover;
    width: 77px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    right: 10px;
    top: 10px;
    color: #fff;
   	font-size: 14px;
}
.btn-down img{
	width: 70%;
}
.btn-down-e {
	padding: 0 20px;
	line-height: 32px;
	border-radius: 16px;
	background: #ff6826;
	border-radius: 15px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 4;
	padding: 12px 15px;
	width: 100%;
	line-height: 40px;
	background: #333333;
	color: #ff6826;
	box-sizing: border-box;
}

.footer .logo {
	white-space: nowrap;
	margin: 0;
	float: left;
}

.footer .logo img {
	height: 40px;
	margin-right: 10px;
}

.footer .btn-down {
	margin-top: 5px;
}

.fg {
	height: 8px;
	background: #eee;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

.live-index {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/bg-index.jpg) no-repeat #a53200 center top;
	background-size: 100% auto;
}

@media screen and (min-width: 415px) {
	.live-index {
		min-height: 650px
	}
}

.down-box {
	position: absolute;
	width: 100%;
	bottom: 50px;
	text-align: center;
}

@media screen and (max-width: 320px) {
	.down-box {
		bottom: 40px;
	}
}

.ios-down,
.and-down {
	display: inline-block;
	margin: 0 11px;
	padding: 0 0 0 48px;
	width: 105px;
	font-size: 12px;
	color: #f9743a;
	line-height: 44px;
	background: url(../img/bg-index-ico.png) no-repeat #fff;
	border-radius: 22px;
	background-size: 17px 100px;
	text-align: left;
}

@media screen and (max-width: 320px) {
	.ios-down,
	.and-down {
		margin: 0 2px;
	}
}

.ios-down:active,
.and-down:active {
	color: #f9743a;
}

.ios-down {
	background-position: 17px 12px;
}

.and-down {
	background-position: 17px -68px;
}

.f-layout {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background: url(../img/btn-play-e.png) no-repeat center center #000;
	background-size: 31px 36px;
}

.copyright {
	position: absolute;
	bottom: 5px;
	width: 100%;
	font-size: 11px;
	line-height: 1.3em;
	color: #eee;
	text-align: center;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-ms-transform: scale(0.75);
	-o-transform: scale(0.75);
	transform: scale(0.75)
}

.copyright a,
.copyright a:active {
	color: fff
}

.img-phone {
	position: absolute;
	z-index: 1;
	margin: auto;
	top: 125px;
	left: 0;
	right: 0;
	width: 71%
}

.img-word {
	position: absolute;
	left: 34px;
	top: 80px;
	z-index: 2;
	width: 40%
}

@media screen and (max-height: 580px) {
	.img-phone {
		top: 100px
	}
	.img-word {
		top: 61px;
		left: 36px
	}
}

@media screen and (max-height: 540px) {
	.img-phone {
		top: 90px
	}
	.img-word {
		top: 50px
	}
}

@media screen and (max-height: 522px) {
	.img-phone,
	.img-word {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-ms-transform: scale(0.95);
		-o-transform: scale(0.95);
		transform: scale(0.95)
	}
	.img-word {
		top: 60px
	}
}

@media screen and (max-height: 510px) {
	.img-phone,
	.img-word {
		-webkit-transform: scale(0.85);
		-moz-transform: scale(0.85);
		-ms-transform: scale(0.85);
		-o-transform: scale(0.85);
		transform: scale(0.85)
	}
	.img-phone {
		top: 71px
	}
}

.mt10 {
	margin-top: 10px
}

.ml10 {
	margin-left: 10px
}

.info-page {
	padding-bottom: 10px;
	width: 100%;
	min-height: 100%;
	color: #3a3a3f;
	font-size: 15px;
	background: #eee
}

.btn-back {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/bg-back.png) no-repeat;
	background-size: 20px 20px
}

.top-hd-sm {
	line-height: 44px;
	background: #2e2e32;
	color: #fff;
	text-align: center;
	font-size: 18px
}

.top-hd-sm .btn-back {
	position: absolute;
	left: 16px;
	top: 13px
}

.info-tip {
	float: left;
	padding: 0 2%;
	width: 96%;
	background: #fff0d4;
	line-height: 44px;
	text-align: center
}

.info-ls {
	padding: 0 16px;
	background: #fff;
	border-bottom: 1px solid #ddd
}

.info-ls li {
	line-height: 55px;
	border-bottom: 1px solid #ddd
}

.info-ls li span {
	font-size: 13px
}

.info-ls li:last-child {
	border-bottom: none
}

.info-content {
	padding: 16px;
	font-size: 13px;
	line-height: 1.4em;
	color: #888
}

.info-ls-qs {
	padding: 0 16px
}

.info-ls-qs li {
	margin-top: 16px;
	padding: 15px;
	background: #fff
}

.info-ls-qs li p {
	margin-top: .5em;
	font-size: 13px
}

.info-ls-qs strong {
	font-weight: bold
}

.to-left {
	background-image: -o-linear-gradient(left, transparent, #2d2d34);
	background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#2d2d34));
	background-image: -webkit-linear-gradient(left, transparent, #2d2d34);
	background-image: linear-gradient(left, transparent, #2d2d34)
}

.new-tips {
	display: inline-block;
	margin-bottom: 5px;
	padding: 0 12px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.5)
}

.send-gife-box {
	display: inline-block;
	height: 46px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-ms-border-radius: 22px;
	-o-border-radius: 22px;
	border-radius: 22px
}

.send-gife-box .avatar {
	float: left;
	margin: 3px 0 0 3px;
	width: 40px;
	height: 40px
}

.send-gife-box .avatar img {
	width: 40px;
	height: 40px
}

.send-gife-box .item {
	float: left;
	margin: 0 10px 0 8px;
	font-size: 12px;
	line-height: 1.6em
}

.send-gife-box .item dt {
	margin-top: 3px;
	color: #ff7d4a
}

.send-gife-box .item dd {
	color: #fff
}

.send-gife-box .gife {
	float: left
}

.send-gife-box .gife img.g-01 {
	width: 56px;
	margin: -4px -3px 0 0
}

.send-gife-box .lj {
	position: absolute
}

.send-gife-box .lj.lj26 {
	top: -10px;
	right: -150px;
	width: 150px
}

.login-page {
	font-family: "\9ED1\4F53", "Microsoft YaHei", Arial, Helvetica, sans-serif, "瀹嬩綋";
	font-size: .34rem
}

.login-page header {
	padding: 0 0.2rem;
	line-height: 0.87rem
}

.login-page header a {
	color: #f17b29
}

.login-page .img-tv {
	display: block;
	margin: 1.62rem auto 0;
	width: 2.6rem;
	height: 2rem
}

.login-page h3 {
	color: #4c4c4c;
	font-size: .4rem;
	line-height: 1.68rem
}

.login-page .bom-area {
	position: absolute;
	bottom: .87rem;
	left: 0;
	width: 100%;
	text-align: center
}

.login-page .btn-confirm {
	display: inline-block;
	width: 3rem;
	line-height: .66rem;
	border: 1px solid #f17b29;
	text-align: center;
	color: #f17b29;
	border-radius: 0.08rem
}

.login-page .btn-cancel {
	margin-top: .9rem;
	color: #aaa;
	font-size: .3rem
}

.btn-back-prev{
	position: fixed;
    width: 10%;
    bottom: 4rem;
    left: .5rem;
    z-index: 1000;
}
/*弹幕*/
.barrage-box{
	position: absolute;
	width: 50%;
	left: 5%;
	bottom:24%;
	z-index: 99;
	height: 35%;
	overflow-y: auto;
}
.barrage-box::-webkit-scrollbar {
 	display: none;
}
.barrage-box li{
	background-color: #fff;
	padding: 3px 8px;
	border-radius: 8px;
	margin-top: 5px;
	display: table;
}
.barrage-box p{
	font-size: 12px;
}
.u-nickname{
	color: #839cff;
}
.barrage-info{
	/*color: #fff;*/
}


.barrage-box-pay{
	position: absolute;
	width: 100%;
	left: 0;
	top:0%;
	z-index: 99;
	height: 100%;
	overflow: hidden;
	pointer-events:none;
}
.barrage-box-pay li{
	    position: absolute;
    z-index: 1000;
    top: 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    left: 110%;
    white-space: nowrap;
	
}
.barrage-box-pay img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	position: absolute;
	left: 0;
}
.barrage-box-pay  div{
	    vertical-align: middle;
    padding: 0 15px 0 1.7rem;
    height: 1.5rem;
}
.barrage-box-pay  div p{
	font-size: 15px;
	line-height: .75rem;
}